@model TalentHub.Models.Post

<div>
    <a asp-action="Index">Back</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
</div>
<br>

<h1>
    @Html.DisplayFor(model => model.Title)
</h1>

<h4>
    @Html.DisplayFor(model => model.Description)
</h4>

@Html.DisplayFor(model => model.UserName) | 
@Html.DisplayFor(model => model.CreatedDate)

<div>
    <hr />    
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>

    @Html.Raw(ViewBag.HtmlContent)

</div>
<div>
    
</div>
