@model TalentHub.Models.Post

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">Back</a> |
<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

<h1>
    @Html.DisplayFor(model => model.Title)
</h1>

<h4>
    @Html.DisplayFor(model => model.Description)
</h4>

@Html.DisplayFor(model => model.UserName)
@Html.DisplayFor(model => model.CreatedDate)

<div>
    <hr />    
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>

    @Html.DisplayFor(model => model.Content)
</div>
<div>
    
</div>
