@model IEnumerable<TalentHub.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New Post</a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>

@using (Html.BeginForm("", "Post", FormMethod.Get))
{
    <input type="text" name="tags" placeholder="Find posts by tags" />
    <input type="submit" value="Search" />
}

@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
}
    </tbody>
</table>
